
<div id="sidebar">
  <a class="dropdown-item" href="seeds.html">Seeds</a><br><br>
  <a class="dropdown-item" href="../static?page=fertilizer.html">Fertilizer</a><br><br>
  <!-- <a class="dropdown-item" href="../static/pestiside.html">Pestiside</a><br><br> -->
  <a routerLink="static?page=farmmachinary.html" >Farm Machinary</a><br><br>
  <a class="dropdown-item" href="/static?.page=extension.html">Extension Activity</a><br><br>
  <a class="dropdown-item" href="../../app/static?.page=popfarm.html">POP</a><br><br>
  <a class="dropdown-item" href="/static?page=agroment.html">Agroment Advisor</a><br><br>
  <a class="dropdown-item" routerLink="/static?page=farmingmaterial.html">Farming Material</a><br><br>
  <a class="dropdown-item" href="/static?page=storage.html">Storage</a><br><br>
  <a class="dropdown-item" href="static?.page=msp.html">Msp</a><br><br>
  <a class="dropdown-item" href="/static?page=national.html">National</a><br><br>
  <a class="dropdown-item" href="/static?page=international.html">Internatinal</a><br><br>
  <a class="dropdown-item" ng-href="/static/advisiory.html">Advisiories</a><br><br>
  <!-- <a class="dropdown-item" href="../static/.html">Publicity Material</a> -->
</div>